body {
    background-image:url("http://www.alnatura.de/~/media/Images/Content/Kochen%20und%20Geniessen/Warenkunde/Milch.jpg");
    background-size: cover;
}

h1 {
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;

}

h2 {
    font-family: 'Shift', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

h3{
    font-family:'Shift', sans-serif;
    color: #393c3d;
    font-size: 19px;
}

.container {
    position: relative;
    top: 50px;
}

.contact {
    position: fixed;
    bottom: 5px;
    width:100%;
}

.header {
    position: relative;
    top: 0px;
    left: 60px;
    width: 100%;
}

.myClass {
    color: black;
    font-weight: bold;
}

.searchParagraph{
    color: black;
    font-size: 16px;
}

.nav a {
    position: relative;
    top: 0px;
    width: 100%;
    color: #393c3d;
    font-family:'Shift', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.content-container{
    position:relative;
    left:100px;
}